.users_item {
    margin: 10px 0;
    display: flex;
    flex-direction: column;
    gap: 10px;

    .user {
        background: white;
        padding: 20px;
        cursor: pointer;
        box-shadow: -1px 1px 20px rgba(128, 128, 128, 0.2);
        border-radius: 10px;
        text-decoration: none;

        .userItem {
            display: flex;
            align-items: center;
            gap: 10px;

            .avatar {
                width: 40px;
                height: 40px;
                border-radius: 50%;
            }

            img {
                width: 100%;
            }
        }

        p {
            font-weight: 600;
            color: #838486;
            font-size: 18px;
        }
    }
}