.like {
    font-size: 24px;
    display: flex;
    align-items: center;
    gap: 3px;

    i {
        transition: all 0.3s;
        display: flex;
        align-items: center;
        cursor: pointer;

        .heartFill {
            color: rgb(230, 91, 91);
        }
    }

    i:hover {
        transform: scale(1.1);
    }

    p {
        font-weight: 300;
        font-size: 18px;
    }
}