.header {
    padding: 15px 20px;
    background: #fff;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 10;
    // border-bottom: 2px solid #f4f5f8;
    box-shadow: -1px 1px 20px rgba(128, 128, 128, 0.2);

    .in_header {
        display: flex;
        justify-content: space-between;
        align-items: center;

        h2 {
            font-weight: 400;
            color: #acb6c4;
        }

        button {
            background: #3489e3;
            border: 1px solid #3489e3;
            padding: 8px 12px;
            border-radius: 5px;
            cursor: pointer;
            color: #ffffff;
            font-size: 16px;
            transition: all 0.3s;
        }

        button:hover {
            background: #296eb7;
            border: 1px solid #296eb7;
        }
    }
}